.THIS .tabHeadr {
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 5px solid green !important;
}

.THIS table.dataTable td {
    padding: 4px !important;
}

.THIS table.compCheckTable {
    width:100% ;
}

.THIS .customRadioCls .slds-form-element__control .slds-radio{
    display : inline-block !important;
    padding: 1px !important;
}